@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  color: #8c8d8e;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/**NAV LEFT**/

.nav-left {
  color: #8c8d8e;
  width: 15%;
  height: 100vh;
  background-color: #000;
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.nav-left ul {
  list-style: none;
  margin-left: 5%;
  margin-bottom: 15%;
}

.nav-left ul li {
  margin-bottom: 5%;
}

.nav-left ul li i {
  margin-right: 5%;
}

.nav-left .policy {
  text-align: center;
}

.logo img {
  width: 70%;
  margin: 5% 0 10% 5%;
}

/**MAIN**/

.main {
  width: 100vw;
  height: 100vh;
  color: #FFF;
  background: linear-gradient(to right, #363a58 0%,#151622 100%);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 15%;
}

.top-menu {
  height: 80px;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.top-menu ul li {
  list-style: none;
  display: inline-block;
  padding-left: 30px;
}

.top-menu ul li:first-child::after {
  width: 50%;
  content: "";
  border-bottom: 2px solid #1cb954;
  display: block;
  padding-top: 5px;
  margin: auto;
}

.title {
  margin-left: 5%;
  margin-bottom: 2%;
}

.tile-fixed {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5%;
}

.tile {
  width: 220px;
  text-align: center;
  margin-right: 2%;
  margin-bottom: 5%;
}

/**PLAYER**/

.player {
  width: 100vw;
  height: 90px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player ul li {
  font-size: 10px;
  display: inline-block;
  padding-left: 20px;
}

.player ul li:nth-child(3) {
  font-size: 15px;
}

/**BUTTONS**/

.btn-custom {
  width: 90%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  display: block;
  margin: 5% auto;
  padding: 2%;
}

.btn-custom:hover { transform: scale(1.05); }

.btn-white {
  color: #000;
  background-color: #FFF;
}

.btn-white:hover {
  color: #000;
}

.btn-grey-border {
  color: #8c8d8e;
  background-color: #000;
  border: 2px solid #8c8d8e;
}

.btn-grey-border:hover {
  color: #FFF;
  background-color: #000;
  border: 2px solid #FFF;
}

/**MEDIA QUERY**/

@media screen and (max-width: 768px) {

  .tile-fixed {
    flex-direction: column;
  }

  .main {
    padding-bottom: 20%;
  }

  .nav-left span, .buttons, .policy a, .logo img, .top-menu ul li:first-child::after {
    display: none;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }

  .title, .tile-fixed {
    margin-left: 10%;
  }

  .top-menu {
    text-align: center;
    flex-flow: column nowrap;
    margin: 10% 0;
  }

  .top-menu ul li {
    font-size: 20px;
    display: block;
  }

  .title {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10%;
  }

}
